apiVersion: apps/v1
kind: Deployment
metadata:
  name: homes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homes-app
  template:
    metadata:
      labels:
        app: homes-app
    spec:
      nodeSelector:
          app: homes-app
      containers:
      - name: homes-app
        image: homeserverhawaii.azurecr.io/homes:${COMMIT_SHA}
        ports:
        - containerPort: 50051